.sidebar {
  width: 300px;
}

@media screen and (orientation: landscape) {
  .sidebar .sidebar {
    width: 500px;
  }
}

nav {
  width: 25px;
  color: #F90;
}

nav div {
  width: 100px;
}

.DIV {
  height: 1000px;
  width: 1000px;
  border: 1px solid black;
}

.month {
  height: 100px;
}

.time-year {
  background-position: 0 -10px;
}

.time-month {
  background-position: 0 -20px;
}

.time-day {
  background-position: 0 -30px;
}

.time-hour {
  background-position: 0 -40px;
}

.DIV-YEAR {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-position: 0 -10px;
}

.DIV-DATA {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-position: 0 -20px;
}

.DIV-STATE {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-position: 0 -30px;
}

.DIV-USER {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-position: 0 -40px;
}

.DIV-YEAR:hover {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.set-border, .se-other {
  color: #F90;
  border: 1px solid pink;
}

.set-border a, .se-other a {
  color: #995c00;
}

.set-color {
  background-color: pink;
  border: 1px solid pink;
  color: white;
}
